# Weak signal prioritization

## Table of contents

- [Table of contents](#table-of-contents)
- [Libraries](#libraries)
- [Global variables](#global-variables)
- [Load dataset](#load-dataset)

## Libraries

In [26]:
import pandas as pd
from pathlib import Path
import numpy as np

## Global variables

In [20]:
ROOT            = Path("../..") / "data"
PATH_ANONYM     = ROOT / "anonymous_forum_filtered.csv"

## Load dataset

In [21]:
df = pd.read_csv(PATH_ANONYM, sep=",", encoding="utf-8")

In [22]:
print(f"Number of rows : {df.shape[0]}")
print(f"Columns: {df.columns.tolist()}")
df.head(3)

Number of rows : 1087011
Columns: ['msg_id', 'user', 'content', 'topic', 'deleted', 'banned', 'hour']

,msg_id,user,content,topic,deleted,banned,hour
0,anon_msg_55908da50f0b,anon_user_a5f371a2c3,"La bière ""Urine de Go*"" vient d'arriver.",anon_topic_a181712c,0,0,18
1,anon_msg_ca8c3a80715a,anon_user_768dcf0a9f,"Non mais ça va aller, les gargouilles le feron...",anon_topic_2e39b13d,1,0,18
2,anon_msg_f2279e23f198,anon_user_f3ac5bb79a,Comme mercredi hein\nLes cliqueurs dans le déni,anon_topic_eb025aee,1,0,17

## Prepare the subsets

In [31]:
mu = 6
sigma = 2.5
lambda_banned = 10  # how much to boost banned users
lambda_deleted = 3  # how much to boost deleted content

# Compute Gaussian weight
df["gauss_weight"] = np.exp(-((df["hour"] - mu) ** 2) / (2 * sigma ** 2))

# Normalize by number of messages per hour
hour_counts = df["hour"].value_counts().to_dict()
df["hour_count"] = df["hour"].map(hour_counts)
df["hour_norm_weight"] = df["gauss_weight"] / df["hour_count"]

# Add banned user boost
df["priority_weight"] = df["hour_norm_weight"] * (1 + lambda_banned * df["banned"]) * (1 + lambda_deleted * df["deleted"])

# Sample using the normalized priority weight
df = df.sample(frac=1.0, random_state=42, weights=df["priority_weight"]).reset_index(drop=True)

# Drop helper columns
df = df.drop(columns=["gauss_weight", "hour_count", "hour_norm_weight", "priority_weight"])

# Split into subsets
size_of_the_datasets = 3000
number_of_subsets = df.shape[0] // size_of_the_datasets
print(f"Number of subsets: {number_of_subsets}")

for i in range(number_of_subsets):
    start = i * size_of_the_datasets
    end = (i + 1) * size_of_the_datasets
    subset = df.iloc[start:end]
    subset.to_csv(ROOT / "subsets_Di" / f"subset_{i}.csv", index=False)
    print(f"Subset {i} created with {subset.shape[0]} rows.")

Number of subsets: 362
Subset 0 created with 3000 rows.
Subset 1 created with 3000 rows.
Subset 2 created with 3000 rows.
Subset 3 created with 3000 rows.
Subset 4 created with 3000 rows.
Subset 5 created with 3000 rows.
Subset 6 created with 3000 rows.
Subset 7 created with 3000 rows.
Subset 8 created with 3000 rows.
Subset 9 created with 3000 rows.
Subset 10 created with 3000 rows.
Subset 11 created with 3000 rows.
Subset 12 created with 3000 rows.
Subset 13 created with 3000 rows.
Subset 14 created with 3000 rows.
Subset 15 created with 3000 rows.
Subset 16 created with 3000 rows.
Subset 17 created with 3000 rows.
Subset 18 created with 3000 rows.
Subset 19 created with 3000 rows.
Subset 20 created with 3000 rows.
Subset 21 created with 3000 rows.
Subset 22 created with 3000 rows.
Subset 23 created with 3000 rows.
Subset 24 created with 3000 rows.
Subset 25 created with 3000 rows.
Subset 26 created with 3000 rows.
Subset 27 created with 3000 rows.
Subset 28 created with 3000 rows.
Subset 29 created with 3000 rows.
Subset 30 created with 3000 rows.
Subset 31 created with 3000 rows.
Subset 32 created with 3000 rows.
Subset 33 created with 3000 rows.
Subset 34 created with 3000 rows.
Subset 35 created with 3000 rows.
Subset 36 created with 3000 rows.
Subset 37 created with 3000 rows.
Subset 38 created with 3000 rows.
Subset 39 created with 3000 rows.
Subset 40 created with 3000 rows.
Subset 41 created with 3000 rows.
Subset 42 created with 3000 rows.
Subset 43 created with 3000 rows.
Subset 44 created with 3000 rows.
Subset 45 created with 3000 rows.
Subset 46 created with 3000 rows.
Subset 47 created with 3000 rows.
Subset 48 created with 3000 rows.
Subset 49 created with 3000 rows.
Subset 50 created with 3000 rows.
Subset 51 created with 3000 rows.
Subset 52 created with 3000 rows.
Subset 53 created with 3000 rows.
Subset 54 created with 3000 rows.
Subset 55 created with 3000 rows.
Subset 56 created with 3000 rows.
Subset 57 created with 3000 rows.
Subset 58 created with 3000 rows.
Subset 59 created with 3000 rows.
Subset 60 created with 3000 rows.
Subset 61 created with 3000 rows.
Subset 62 created with 3000 rows.
Subset 63 created with 3000 rows.
Subset 64 created with 3000 rows.
Subset 65 created with 3000 rows.
Subset 66 created with 3000 rows.
Subset 67 created with 3000 rows.
Subset 68 created with 3000 rows.
Subset 69 created with 3000 rows.
Subset 70 created with 3000 rows.
Subset 71 created with 3000 rows.
Subset 72 created with 3000 rows.
Subset 73 created with 3000 rows.
Subset 74 created with 3000 rows.
Subset 75 created with 3000 rows.
Subset 76 created with 3000 rows.
Subset 77 created with 3000 rows.
Subset 78 created with 3000 rows.
Subset 79 created with 3000 rows.
Subset 80 created with 3000 rows.
Subset 81 created with 3000 rows.
Subset 82 created with 3000 rows.
Subset 83 created with 3000 rows.
Subset 84 created with 3000 rows.
Subset 85 created with 3000 rows.
Subset 86 created with 3000 rows.
Subset 87 created with 3000 rows.
Subset 88 created with 3000 rows.
Subset 89 created with 3000 rows.
Subset 90 created with 3000 rows.
Subset 91 created with 3000 rows.
Subset 92 created with 3000 rows.
Subset 93 created with 3000 rows.
Subset 94 created with 3000 rows.
Subset 95 created with 3000 rows.
Subset 96 created with 3000 rows.
Subset 97 created with 3000 rows.
Subset 98 created with 3000 rows.
Subset 99 created with 3000 rows.
Subset 100 created with 3000 rows.
Subset 101 created with 3000 rows.
Subset 102 created with 3000 rows.
Subset 103 created with 3000 rows.
Subset 104 created with 3000 rows.
Subset 105 created with 3000 rows.
Subset 106 created with 3000 rows.
Subset 107 created with 3000 rows.
Subset 108 created with 3000 rows.
Subset 109 created with 3000 rows.
Subset 110 created with 3000 rows.
Subset 111 created with 3000 rows.
Subset 112 created with 3000 rows.
Subset 113 created with 3000 rows.
Subset 114 created with 3000 rows.
Subset 115 created with 3000 rows.
Subset 116 created with 3000 rows.
Subset 117 created with 3000 rows.
Subset 118 created with 3000 rows.
Subset 119 created with 3000 rows.
Subset 120 created with 3000 rows.
Subset 121 created with 3000 rows.
Subset 122 created with 3000 rows.
Subset 123 created with 3000 rows.
Subset 124 created with 3000 rows.
Subset 125 created with 3000 rows.
Subset 126 created with 3000 rows.
Subset 127 created with 3000 rows.
Subset 128 created with 3000 rows.
Subset 129 created with 3000 rows.
Subset 130 created with 3000 rows.
Subset 131 created with 3000 rows.
Subset 132 created with 3000 rows.
Subset 133 created with 3000 rows.
Subset 134 created with 3000 rows.
Subset 135 created with 3000 rows.
Subset 136 created with 3000 rows.
Subset 137 created with 3000 rows.
Subset 138 created with 3000 rows.
Subset 139 created with 3000 rows.
Subset 140 created with 3000 rows.
Subset 141 created with 3000 rows.
Subset 142 created with 3000 rows.
Subset 143 created with 3000 rows.
Subset 144 created with 3000 rows.
Subset 145 created with 3000 rows.
Subset 146 created with 3000 rows.
Subset 147 created with 3000 rows.
Subset 148 created with 3000 rows.
Subset 149 created with 3000 rows.
Subset 150 created with 3000 rows.
Subset 151 created with 3000 rows.
Subset 152 created with 3000 rows.
Subset 153 created with 3000 rows.
Subset 154 created with 3000 rows.
Subset 155 created with 3000 rows.
Subset 156 created with 3000 rows.
Subset 157 created with 3000 rows.
Subset 158 created with 3000 rows.
Subset 159 created with 3000 rows.
Subset 160 created with 3000 rows.
Subset 161 created with 3000 rows.
Subset 162 created with 3000 rows.
Subset 163 created with 3000 rows.
Subset 164 created with 3000 rows.
Subset 165 created with 3000 rows.
Subset 166 created with 3000 rows.
Subset 167 created with 3000 rows.
Subset 168 created with 3000 rows.
Subset 169 created with 3000 rows.
Subset 170 created with 3000 rows.
Subset 171 created with 3000 rows.
Subset 172 created with 3000 rows.
Subset 173 created with 3000 rows.
Subset 174 created with 3000 rows.
Subset 175 created with 3000 rows.
Subset 176 created with 3000 rows.
Subset 177 created with 3000 rows.
Subset 178 created with 3000 rows.
Subset 179 created with 3000 rows.
Subset 180 created with 3000 rows.
Subset 181 created with 3000 rows.
Subset 182 created with 3000 rows.
Subset 183 created with 3000 rows.
Subset 184 created with 3000 rows.
Subset 185 created with 3000 rows.
Subset 186 created with 3000 rows.
Subset 187 created with 3000 rows.
Subset 188 created with 3000 rows.
Subset 189 created with 3000 rows.
Subset 190 created with 3000 rows.
Subset 191 created with 3000 rows.
Subset 192 created with 3000 rows.
Subset 193 created with 3000 rows.
Subset 194 created with 3000 rows.
Subset 195 created with 3000 rows.
Subset 196 created with 3000 rows.
Subset 197 created with 3000 rows.
Subset 198 created with 3000 rows.
Subset 199 created with 3000 rows.
Subset 200 created with 3000 rows.
Subset 201 created with 3000 rows.
Subset 202 created with 3000 rows.
Subset 203 created with 3000 rows.
Subset 204 created with 3000 rows.
Subset 205 created with 3000 rows.
Subset 206 created with 3000 rows.
Subset 207 created with 3000 rows.
Subset 208 created with 3000 rows.
Subset 209 created with 3000 rows.
Subset 210 created with 3000 rows.
Subset 211 created with 3000 rows.
Subset 212 created with 3000 rows.
Subset 213 created with 3000 rows.
Subset 214 created with 3000 rows.
Subset 215 created with 3000 rows.
Subset 216 created with 3000 rows.
Subset 217 created with 3000 rows.
Subset 218 created with 3000 rows.
Subset 219 created with 3000 rows.
Subset 220 created with 3000 rows.
Subset 221 created with 3000 rows.
Subset 222 created with 3000 rows.
Subset 223 created with 3000 rows.
Subset 224 created with 3000 rows.
Subset 225 created with 3000 rows.
Subset 226 created with 3000 rows.
Subset 227 created with 3000 rows.
Subset 228 created with 3000 rows.
Subset 229 created with 3000 rows.
Subset 230 created with 3000 rows.
Subset 231 created with 3000 rows.
Subset 232 created with 3000 rows.
Subset 233 created with 3000 rows.
Subset 234 created with 3000 rows.
Subset 235 created with 3000 rows.
Subset 236 created with 3000 rows.
Subset 237 created with 3000 rows.
Subset 238 created with 3000 rows.
Subset 239 created with 3000 rows.
Subset 240 created with 3000 rows.
Subset 241 created with 3000 rows.
Subset 242 created with 3000 rows.
Subset 243 created with 3000 rows.
Subset 244 created with 3000 rows.
Subset 245 created with 3000 rows.
Subset 246 created with 3000 rows.
Subset 247 created with 3000 rows.
Subset 248 created with 3000 rows.
Subset 249 created with 3000 rows.
Subset 250 created with 3000 rows.
Subset 251 created with 3000 rows.
Subset 252 created with 3000 rows.
Subset 253 created with 3000 rows.
Subset 254 created with 3000 rows.
Subset 255 created with 3000 rows.
Subset 256 created with 3000 rows.
Subset 257 created with 3000 rows.
Subset 258 created with 3000 rows.
Subset 259 created with 3000 rows.
Subset 260 created with 3000 rows.
Subset 261 created with 3000 rows.
Subset 262 created with 3000 rows.
Subset 263 created with 3000 rows.
Subset 264 created with 3000 rows.
Subset 265 created with 3000 rows.
Subset 266 created with 3000 rows.
Subset 267 created with 3000 rows.
Subset 268 created with 3000 rows.
Subset 269 created with 3000 rows.
Subset 270 created with 3000 rows.
Subset 271 created with 3000 rows.
Subset 272 created with 3000 rows.
Subset 273 created with 3000 rows.
Subset 274 created with 3000 rows.
Subset 275 created with 3000 rows.
Subset 276 created with 3000 rows.
Subset 277 created with 3000 rows.
Subset 278 created with 3000 rows.
Subset 279 created with 3000 rows.
Subset 280 created with 3000 rows.
Subset 281 created with 3000 rows.
Subset 282 created with 3000 rows.
Subset 283 created with 3000 rows.
Subset 284 created with 3000 rows.
Subset 285 created with 3000 rows.
Subset 286 created with 3000 rows.
Subset 287 created with 3000 rows.
Subset 288 created with 3000 rows.
Subset 289 created with 3000 rows.
Subset 290 created with 3000 rows.
Subset 291 created with 3000 rows.
Subset 292 created with 3000 rows.
Subset 293 created with 3000 rows.
Subset 294 created with 3000 rows.
Subset 295 created with 3000 rows.
Subset 296 created with 3000 rows.
Subset 297 created with 3000 rows.
Subset 298 created with 3000 rows.
Subset 299 created with 3000 rows.
Subset 300 created with 3000 rows.
Subset 301 created with 3000 rows.
Subset 302 created with 3000 rows.
Subset 303 created with 3000 rows.
Subset 304 created with 3000 rows.
Subset 305 created with 3000 rows.
Subset 306 created with 3000 rows.
Subset 307 created with 3000 rows.
Subset 308 created with 3000 rows.
Subset 309 created with 3000 rows.
Subset 310 created with 3000 rows.
Subset 311 created with 3000 rows.
Subset 312 created with 3000 rows.
Subset 313 created with 3000 rows.
Subset 314 created with 3000 rows.
Subset 315 created with 3000 rows.
Subset 316 created with 3000 rows.
Subset 317 created with 3000 rows.
Subset 318 created with 3000 rows.
Subset 319 created with 3000 rows.
Subset 320 created with 3000 rows.
Subset 321 created with 3000 rows.
Subset 322 created with 3000 rows.
Subset 323 created with 3000 rows.
Subset 324 created with 3000 rows.
Subset 325 created with 3000 rows.
Subset 326 created with 3000 rows.
Subset 327 created with 3000 rows.
Subset 328 created with 3000 rows.
Subset 329 created with 3000 rows.
Subset 330 created with 3000 rows.
Subset 331 created with 3000 rows.
Subset 332 created with 3000 rows.
Subset 333 created with 3000 rows.
Subset 334 created with 3000 rows.
Subset 335 created with 3000 rows.
Subset 336 created with 3000 rows.
Subset 337 created with 3000 rows.
Subset 338 created with 3000 rows.
Subset 339 created with 3000 rows.
Subset 340 created with 3000 rows.
Subset 341 created with 3000 rows.
Subset 342 created with 3000 rows.
Subset 343 created with 3000 rows.
Subset 344 created with 3000 rows.
Subset 345 created with 3000 rows.
Subset 346 created with 3000 rows.
Subset 347 created with 3000 rows.
Subset 348 created with 3000 rows.
Subset 349 created with 3000 rows.
Subset 350 created with 3000 rows.
Subset 351 created with 3000 rows.
Subset 352 created with 3000 rows.
Subset 353 created with 3000 rows.
Subset 354 created with 3000 rows.
Subset 355 created with 3000 rows.
Subset 356 created with 3000 rows.
Subset 357 created with 3000 rows.
Subset 358 created with 3000 rows.
Subset 359 created with 3000 rows.
Subset 360 created with 3000 rows.
Subset 361 created with 3000 rows.